<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Excel导出</h2>
<a th:href="@{/excel/export/1}">将行列对象写出到Excel</a><br>
<a th:href="@{/excel/export/2}">写出Map数据</a><br>
<a th:href="@{/excel/export/3}">写出Bean数据</a><br>
<a th:href="@{/excel/export/4}">自定义Bean的key别名（排序标题）</a><br>
<a th:href="@{/excel/export/5}">写出到流</a><br>
<a th:href="@{/excel/export/6}">写出到客户端下载（写出到Servlet）写出xls</a><br>
<a th:href="@{/excel/export/7}">写出到客户端下载（写出到Servlet）写出xlsx</a><br>
</body>
</html>