<!doctype html>
<html lang="zh-CN" th:replace="layout :: layout(~{::title}, ~{::style}, ~{::script}, ~{::body}, 'beauty')"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <style></style>
    <script>
        new Vue({
            el: '#app',
            data: {
                obj: {
                    id: null,
                    name: null,
                    photo: null,
                    age:null,
                    gender: 0,
                    birthday: null
                }
            },
            methods: {
                dataSave: function () {
                    var _this = this;
                    axios.post('/beauty/ajax/save', _this.obj)
                        .then(function (response) {
                            var res = response.data;
                            if (res.status) {
                                location.href = "/beauty/list";
                            }else{
                                alert(res.message)
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },
            mounted() {
                var _this = this;
                var id = getQueryVariable("id");
                var typeName;
                if (id) {
                    typeName = "修改";
                    axios
                        .get('/beauty/ajax/getById', {
                            params: {
                                id: id
                            }
                        })
                        .then(function (response) {
                            var res = response.data;
                            if (res.status) {
                                _this.obj = res.data;
                                console.log(_this.obj)
                            }
                        })
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                } else {
                    typeName = "添加";
                }
                $("#saveBtn").text(typeName);
                var pageName = typeName + "女神";
                $("#pageName").text(pageName);
                document.title = pageName;
            }
        });
    </script>
</head>
<body>
<div class="container" id="app">
    <div class="page-header">
        <h1><span id="pageName"></span> <small>Subtext for header</small></h1>
    </div>
    <form>
        <div class="form-group">
            <label for="name">姓名</label>
            <input type="text" v-model="obj.name" class="form-control" id="name" placeholder="姓名">
        </div>
        <div class="form-group">
            <label for="name">年龄</label>
            <input type="text" v-model="obj.age" class="form-control" id="age" placeholder="年龄">
        </div>
        <div class="form-group">
            <label for="name">性别</label>
            <select v-model="obj.gender" id="gender" class="form-control">
                <option value="0">未知</option>
                <option value="1">男</option>
                <option value="2">女</option>
            </select>
        </div>
        <div class="form-group">
            <label for="name">生日</label>
            <input type="text" v-model="obj.birthday" class="form-control date" id="birthday" placeholder="生日">
        </div>
        <span v-on:click="dataSave" class="btn btn-primary" id="saveBtn">添加</span>
        <span onclick="history.back()" class="btn btn-warning">后退</span>
    </form>
</div>
</body>
</html>