<!doctype html>
<html lang="zh-CN" th:replace="layout :: layout(~{::title}, ~{::style}, ~{::script}, ~{::body}, 'beauty')"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>女神排名</title>
    <style></style>
    <script>
        new Vue({
            el: '#app',
            data: {
                pageInfo: {},
                query: {}
            },
            methods: {
                dataDel: function (id) {
                    axios.post('/beauty/ajax/delete', {
                        params: {
                            id: id
                        }
                    })
                        .then(function (response) {
                            var res = response.data;
                            if (res.status) {
                                location.reload()
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                queryList: function (pageNum) {
                    var _this = this;
                    axios
                        .post('/beauty/ajax/list', {
                            pageNum: pageNum,
                            name: _this.query.name
                        })
                        .then(function (response) {
                            var res = response.data;
                            if (res.status) {
                                _this.pageInfo = res.data
                            }
                        })
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                },
                clearQuery:function(){
                    var _this = this;
                    _this.query={};
                    _this.queryList(1);
                },
            },
            mounted() {
                var _this = this;
                _this.queryList(1);
            },
        });
    </script>
</head>
<body>
<div class="container" id="app">
    <div class="page-header">
        <h1>女神排名 <small>Subtext for header</small></h1>
    </div>
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="name">姓名</label>
            <input type="text" class="form-control" id="name" v-model="query.name" placeholder="姓名">
        </div>
        <span class="btn btn-primary" @click="queryList(1)">查询</span>
        <span class="btn btn-warning" @click="clearQuery">清空</span>
    </form>
    <hr>
    <a th:href="@{/beauty/save}" class="btn btn-success">添加</a>
    <hr>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>生日</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,index) in pageInfo.list" :key="item.id">
            <th scope="row" v-text="index+1"></th>
            <td v-text="item.name"></td>
            <td v-text="item.age"></td>
            <td v-text="item.gender==2?'女':(item.gender==1?'男':'未知')"></td>
            <td v-text="item.birthday"></td>
            <td>
                <a :href="'/beauty/save?id='+item.id" class="btn btn-primary btn-xs">编辑</a>
                <span class="btn btn-danger btn-xs" @click="dataDel(item.id)">删除</span>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li v-if="pageInfo.hasPreviousPage">
                <span class="fyl-pointer" @click="queryList(pageInfo.prePage)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>
            <li :class="{'active':pageInfo.pageNum==num}" v-for="num in pageInfo.navigatepageNums"><span
                    @click="queryList(num)" class="fyl-pointer" v-text="num"></span></li>
            <li v-if="pageInfo.hasNextPage">
                <span class="fyl-pointer" @click="queryList(pageInfo.nextPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </span>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>