<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>添加美女</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/common/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/common/vue.min.js}"></script>
    <script th:src="@{/common/axios.min.js}"></script>

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script th:src="@{/common/bootstrap/js/html5shiv.min.js}"></script>
    <script th:src="@{/common/bootstrap/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
<div class="container" id="app">
    <div class="page-header">
        <h1>添加美女 <small>Subtext for header</small></h1>
    </div>
    <form>
        <input type="hidden" th:if="${id}" th:value="${id}" id="id">
        <div class="form-group">
            <label for="name">姓名</label>
            <input type="text" v-model="obj.name" class="form-control" id="name" placeholder="姓名">
        </div>
        <div class="form-group">
            <label for="name">年龄</label>
            <input type="text" v-model="obj.age" class="form-control" id="age" placeholder="年龄">
        </div>
        <div class="form-group">
            <label for="name">性别</label>
            <select v-model="obj.gender" id="gender" class="form-control">
                <option value="未知">未知</option>
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
        <span v-on:click="dataSave" class="btn btn-primary">添加</span>
    </form>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script th:src="@{/common/bootstrap/js/jquery.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script th:src="@{/common/bootstrap/js/bootstrap.min.js}"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            obj: {
                gender:"未知"
            }
        },
        methods: {
            dataSave: function () {
                axios.post('/beauty/ajax/save', {
                    id: $("#id").val(),        // 参数 firstName
                    name: $("#name").val(),    // 参数 lastName
                    age:$("#age").val(),
                    gender:$("#gender").val()
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
        mounted() {
            var _this = this;
            var id = $("#id").val();
            if (id !== undefined) {
                axios
                    .get('/beauty/ajax/getById', {id: id})
                    .then(function (response) {
                        _this.obj = response.data;
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            }
        }
    });
</script>
</body>
</html>