<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>保存</title>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/assets/css/lss-admin.css">
    <link rel="stylesheet" href="/assets/css/lss.css">
</head>
<body>
<div class="lss-admin">
    <div class="lss-admin-save-left">
        <ul class="am-list am-list-border">
            <li><a href="#" class="current"><i class="am-icon-pencil am-icon-fw"></i>链接管理</a></li>
            <li><a href="#"><i class="am-icon-pencil am-icon-fw"></i>项目管理</a></li>
            <li><a href="#"><i class="am-icon-pencil am-icon-fw"></i>日志管理</a></li>
            <li><a href="#"><i class="am-icon-pencil am-icon-fw"></i>报销管理</a></li>
            <li><a href="#"><i class="am-icon-pencil am-icon-fw"></i>加班管理</a></li>
        </ul>
    </div>
    <div class="lss-admin-save-right">
        <ol class="am-breadcrumb am-breadcrumb-slash">
            <li><a href="/admin/list" id="goBack">用户管理</a></li>
            <li class="am-active">用户保存</li>
        </ol>
        <form class="am-form am-form-horizontal">
            <div class="am-form-group">
                <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">电子邮件</label>
                <div class="am-u-sm-10">
                    <input type="email" id="doc-ipt-3" placeholder="输入你的电子邮件">
                </div>
            </div>

            <div class="am-form-group">
                <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">密码</label>
                <div class="am-u-sm-10">
                    <input type="password" id="doc-ipt-pwd-2" placeholder="设置一个密码吧">
                </div>
            </div>

            <div class="am-form-group">
                <div class="am-u-sm-10 am-u-sm-offset-2">
                    <button type="submit" class="am-btn am-btn-primary">保存</button>
                    <button type="button" class="am-btn am-btn-default" id="goBackBtn">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script>
    $("#goBackBtn").click(function(){
        location.href=$("#goBack").attr("href");
    })
</script>
</body>
</html>