<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/assets/css/lss-admin.css">
</head>
<body>
<div class="lss-admin lss-admin-login">
    <div class="lss-admin-login-container">
        <form class="am-form" action="/admin/list">
            <div class="am-form-group">
                <label for="loginName">账号</label>
                <input type="text" class="" id="loginName" placeholder="输入账号">
            </div>

            <div class="am-form-group">
                <label for="password">密码</label>
                <input type="password" class="" id="password" placeholder="输入密码">
            </div>

            <button type="submit" class="am-btn am-btn-primary">登录</button>
        </form>
    </div>
</div>
</body>
</html>